#taskFormBox {
    border: solid 1px black;
    position: relative;
    top: 3rem;
    width: 50rem;
}

/* #taskFormHeader {
    display: flex;
    justify-content: center;
    margin: 0 auto;
} */

.navbar-brand {
    position: absolute;
}

#taskFormHeader {
    position: relative;
    top: 1.5rem;
}

