.container {
  max-width: 1300px;
}

.toDo {
  border: 1px solid black;
  max-width: 300px;
}

.inProgress {
  border: 1px solid black;
  max-width: 300px;
}

.review {
  border: 1px solid black;
  max-width: 300px;
}

.completed {
  border: 1px solid black;
  max-width: 300px;
}

.card {
  margin: 10px auto;
}
