/* global css */
body {
  background-color: #9f86c0;
}

/* Main site */

/* header */
header {
  background-color: #231942;
  padding: 1em;
}
#siteHeader {
  text-align: center;
  color: white;
}
header span {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  font-weight: bold;
  color: blue;
    background-image: linear-gradient(to right, red, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mainSubHeader {
  color: white;
  text-align: center;
}

/* button */
#addTaskBtn {
  color: white;
  background-color: #231942;
  padding: 0.5em;
  margin: 0.5em;
}

/* each section */
section {
  margin: 5px auto;
  background-color: #5e548e;
  min-height: 40em;
}

#toDoList {
  border: 1px solid white;
  max-width: 300px;
}

#inProgress {
  border: 1px solid white;
  max-width: 300px;
}

#review {
  border: 1px solid white;
  max-width: 300px;
}

#completed {
  border: 1px solid white;
  max-width: 300px;
}

/* Add Task section */
#taskFormBox,
#addNameForm {
  border: solid 1px white;
  position: relative;
  top: 1rem;
  width: 29em;
  background-color: #5e548e;
}

/* Header */
#taskFormHeader {
  text-align: center;
  color: white;
  background-color: #231942;
  padding: 1em;
}

/* Error spans */
.errorSpan {
  color: rgb(249, 93, 93);
}

/* Form Labels */
label {
  color: white;
}
/* Submit Form Buttons */
#submitTaskFormBtn {
  background-color: #231942;
}
#cancelTaskFormBtn {
  background-color: #9f86c0;
}

/* Date/Time information */
#date-time {
  color: white;
}

option[value=""][disabled] {
  display: none;
}

/* One Card */
.oneTask {
  margin-bottom: 0.2em;
}
