/* global css */
body {
  background-color: lightyellow;
}

/* Main site */

/* header */
header {
  background-color: paleturquoise;
  padding: 1em;
  border: 8px solid whitesmoke;
}

#siteHeader {
  text-align: center;
  color: blueviolet;
  font-weight: bold;
}

header span {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  font-weight: bold;
  background-image: linear-gradient(to right, red, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mainSubHeader {
  text-align: center;
  padding-top: 1rem;
}


/* button */
#addTaskBtn {
  color: black;
  background-color: lightskyblue;
  border: 5px solid pink;
  padding: 0.5em;
  margin: 0.5em;
}

/* each section */
section {
  margin: 5px auto;
  min-height: 40em;
}

#toDoList {
  border: 5px solid yellow;
  max-width: 320px  ;
  background-color: whitesmoke;
}

#inProgress {
  border: 5px solid yellowgreen;
  max-width: 320px  ;
  background-color: whitesmoke;
}

#review {
  border: 5px solid plum;
  max-width: 320px  ;
  background-color: whitesmoke;
}

#completed {
  border: 5px solid blue;
  max-width: 320px  ;
  background-color: whitesmoke;
}

/* Add Task section */
#taskFormBox,
#addNameForm {
  border: solid 1px orange;
  position: relative;
  top: 1rem;
  width: 29em;
  background-color: rgb(254, 175, 28);
}

/* Header */
#taskFormHeader {
  text-align: center;
  color: white;
  background-color: rgb(232, 96, 33);
  padding: 1em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* Form Labels */
label {
  color: whitesmoke;
}

/* Submit Form Buttons */
#submitTaskFormBtn {
  background-color: yellowgreen;
  border: solid 3px rgb(254, 175, 28);
}
#cancelTaskFormBtn {
  background-color: #9f86c0;
  border: solid 3px orange;
}

/* Date/Time information */
#date-time {
  color: white;
}

/* One Card */
.card {
  max-width: 275px;
  margin: 20px auto;
  transition: 1s;
  border: 2px solid orange;
}

.card:hover {
  background-color: rgb(255, 244, 254);
  transform: scale(1.1);
}

/* SuccessfulSubmit */
#successfulSubmitMsg {
  text-align: center;
  color: lightgreen;
  padding: 0.3em;
}

/* Success Submit */
.successStyle {
  border-width: thick;
  border-color: lightgreen;
}

/* Error Submit */
.errorStyle {
  border-width: thick;
  border-color: rgb(245, 22, 22);
}

/* Error spans */
.errorSpan {
  font-weight: 900;
  color: rgb(245, 22, 22);
}
