/* index section */
/* global css */
body {
  background-color: #9f86c0;
}

/* header */
h1 {
  text-align: center;
  color: white;
  background-color: #231942;
}

h4 {
  color: white;
  text-align: center;
}

section {
  margin: 5px auto;
  background-color: #5e548e;
}

/* button */
button {
  margin: 5px;
}

button a {
  color: white;
  text-decoration: none;
}

button a:hover {
  color: pink;
}

.container {
  max-width: 1300px;
}

/* each column */
.toDo {
  border: 1px solid white;
  max-width: 300px;
}

.inProgress {
  border: 1px solid white;
  max-width: 300px;
}

.review {
  border: 1px solid white;
  max-width: 300px;
}

.completed {
  border: 1px solid white;
  max-width: 300px;
}

/* One Task */
.card {
  margin: 20px auto;
  transition: 1s;
}

.card:hover {
  background-color: rgb(192, 189, 189);
  transform: scale(1.1);
}

/* row */
.row {
  margin-bottom: 10px;
}

/* Add Task section */
#taskFormBox,
#addNameForm {
  border: solid 1px white;
  position: relative;
  top: 3rem;
  width: 50rem;
  background-color: #5e548e;
}

#taskFormHeader {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.navbar-brand {
  position: absolute;
}

#taskFormHeader {
  position: relative;
  top: 1.5rem;
}

/* Error spans */
.errorSpan {
  color: rgb(249, 93, 93);
}